<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chrome Tips Syncer</title>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="ext/jquery.min.js"></script>
        <script src="ext/bootstrap.min.js"></script>
        <script src="ext/vue.js"></script>
        <script src="sync.js"></script>
    </head>
    <body style="width: 700px">
        <div class="page-header">
            <h1>Chrome Tips Syncer<small>在 chrome 之间复制粘贴</small></h1>
        </div>
        <div class="row" id="listGroup">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" v-model="req.value" id="valueInput"></textarea>
                <button type="button" class="btn btn-primary" v-on:click="ctrlc" style="width: 100%; margin-top: 10px">Ctrl+C</button>

                <ul class="list-group" v-for="item in resp.data" style="margin-top: 10px">
                    <button type="button" class="list-group-item" v-on:click="ctrlv(item.value)">
                        <span class="badge">{{format(item.createTime)}}</span>
                        {{item.value}}
                    </button>
                </ul></div>
            <div class="col-md-1"></div>
        </div>
    </body>
</html>